{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/notification.css' %}">
    <title>Notification</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="background-green"></div>

    <div class="main-container">
        <div class="header">
            <h1>Notifications</h1>
        </div>
        <div class="req-list">
            {% for frndReq in frndReqList %}
            <div class="req-box">
                <form action="{% url 'notification' %}" method="post">
                    {% csrf_token %}
                    {{frndReq.friend_id}}
                    {% if frndReq.user_id|striptags == user|striptags %}
                    <h3>{{frndReq.friend_id}} requested to follow you <button type="submit" class="btn btn-success" name="frnd" value="{{frndReq.friend_id}}">Accept</button> <button type="button" class="btn btn-danger">Cancle</button></h3>
                    {% else %}
                    <h3>{{frndReq.user_id}} requested to follow you <button type="submit" class="btn btn-success" name="frnd" value="{{frndReq.user_id}}">Accept</button> <button type="button" class="btn btn-danger">Cancle</button></h3>
                    {% endif %}
                </form>
            </div>
            {% endfor %}
            <!-- <div class="req-box">
                <p>@abcd_123 requested to follow you <button>accept</button><button>decline</button></p>
            </div>
            <div class="req-box">
                <p>@abcd_123 requested to follow you <button>accept</button><button>decline</button></p>
            </div>
            <div class="req-box">
                <p>@abcd_123 requested to follow you <button>accept</button><button>decline</button></p>
            </div>  -->
        </div>
    </div>
</body>

</html>
