{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/setting.css' %}">
</head>

<body>

    <div class="background-green"></div>
    
    <div class="main-container">
        <div class="header">
            <!-- <div class="user-img">
                <img class="dp" src="https://www.codewithfaraz.com/InstaPic.png" alt="">
            </div> -->
            <div class="user-name">
                <h1>Setting</h1>
            </div>
        </div>

        <div class="setting-list">
            <!-- <div class="setting-box" onclick="myFunction()">
                <div class="dropdown">
                    <div class="dropbtn"><h3>Account</h3></div>
                    <div class="dropdown-content">
                        <a href="#">edit profile</a>
                        <a href="#">change mobileno</a>
                        <a href="#">change username</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
            <div class="setting-box">
                <div class="dropdown">
                    <div class="dropbtn"><h3>Privacy</h3></div>
                    <div class="dropdown-content">
                        <a href="#">edit password</a>
                    </div>
                </div>
            </div>
            <div class="setting-box">
                <div class="dropdown">
                    <div class="dropbtn"><h3>Store</h3></div>
                    <div class="dropdown-content">
                        <a href="#">subsciption</a>
                        <a href="#">themes</a>
                        <a href="#">discount coupons</a>
                    </div>
                </div>
            </div> -->

        </div>

    </div>
    </dl>

</body>

</html>
