* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ccc;
}

.background-green {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background-color: #009688;
}

.main-container {
    position: relative;
    width: 1000px;
    max-width: 100%;
    height: calc(100vh - 50px);
    background: #e5ddd5;
    justify-content: center;
    box-shadow: 0px 1px 1px  0 rgba(0,0,0,0.5), 0px 2px 5px 0 rgba(0,0,0,0.6);
}

.header {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background: #ededed;
    padding-left: 0.7rem;
}

.header h1{
    margin:1rem;
    font-size: 36px;
  }

.dp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.user-img {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
}

.setting-list {
    position: relative;
    height: calc(100% - 121px);
    overflow-y: auto;
}

.main-container .setting-list .setting-box {
    position: relative;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
    /* padding: 15px; */
    border-bottom: 1px solid #eee;
}


.dropbtn {
    background-color: #e5ddd5;
    color: black;
    padding: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #ccc;
}


/************************************************/
